.dropdown-item {
  color: white;
  font-size: larger;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #2193b0;
  background: -webkit-linear-gradient(to top, #336699, #667f98);
  background: linear-gradient(to top, #336699, #667f98);
}

.img {
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

h5 {
  margin-left: 15px;
  display: inline-block;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.507);
}

#top-main {
  margin-top: 1px;
  margin-left: 2.5%;
  width: 95%;
  height: 500px;
}

#description {
  padding-left: 2.5%;
  height: 95%;
  margin: 0.5%;
  margin-left: 4%;
  margin-right: 4%;
  border: 3px solid;
  background-color: rgba(255, 255, 255, 0.507);
}

@media only screen and (max-width: 640px) {
    #lis {
        font-size: 14px;
    }

  #top-main {
    margin-top: 1px;
    margin-left: 0%;
    width: 100%;
    height: auto;
  }
}
