.dropdown-item{
    color:white;
    font-size: larger;
}

body{
    min-height: 100vh;
    margin: 0;
    background: -webkit-linear-gradient(to top, #336699, #667F98); 
    background: linear-gradient(to top, #336699, #667F98);
}

@media screen and (mxn-width: 800px)
{
  
}
